<div class="container">
    <form #loginForm="ngForm" class="form-group" novalidate>
        <h2>Login </h2>
        <p>Please login to start your session</p>
        <label for="username">Username</label>
        <input class="form-control" type="text" (focus)="foucused(true)" (focusout)="foucused(false)" name="username"
            placeholder="Username" [(ngModel)]="user.username" #uname="ngModel" required>
        <div [hidden]="uname.valid || uname.pristine" class="danger">
            required field*
        </div>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="user.password"
            required #pwd="ngModel">
        <div class="danger" *ngIf="pwd.invalid && pwd.dirty">
            required field*
        </div>
        <br>
        <button [disabled]="loginForm.invalid" *ngIf="!submitting" (click)="login()"
            class="btn btn-primary">login</button>
        <button disabled class="btn btn-info" *ngIf="submitting">loging in...</button>
    </form>
    <p>Don't have an account <span>Register <a [routerLink]="['/auth/register']">here</a></span></p>
    <p><a routerLink="/auth/forgot-password"> forgot password?</a></p>
</div>

<!-- 

    all the names in html that start with # are template variables
    template variables== > variables to be used within form
    state of form==> valid state invalid state
    input field state ==> pristine (no interaction with input field )
                    ===> dirty (interaction with input field)
                    ===> touched ==> foucs out
                    ===> untouched ==> focus 
                    ==> valid and invalid
                    ==> errors


    ////DATA BINDING////
    communication of data between view (html) and controller (.ts file)
    //types of DATA BINDING 
    // event binding  ==> used to communicate on events (click dblclick,change,hover,) syntax (eventName) ="method of controller();"
    // property binding ==> show/hide , disable/enable syntax use [] for property binding which will evaluates to boolean
    // two way data binding

    //synchronization of data between view and controller 
    syntax [(ngModel)]="data of controller"

 -->