<div class="container">
  <h2>Register</h2>
  <p>Please provide your details for registration</p>

  <form class="form-group" #registerForm="ngForm">
    <label for="name">Name</label>
    <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" #name="ngModel"
      required>
    <div class="danger" [hidden]="name.valid || name.pristine">
      required field*
    </div>
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel"
      required email>
    <div class="danger" *ngIf="email.errors && email.dirty">
      <div *ngIf="email.errors.required">
        required field*
      </div>
      <div *ngIf="email.errors.email">
        invalid email address
      </div>

    </div>
    <label for="address">Address</label>
    <input class="form-control" type="text" placeholder="Address" name="address" [(ngModel)]="user.address">
    <label for="username">username</label>
    <input class="form-control" type="text" placeholder="username" name="username" [(ngModel)]="user.username"
      #username="ngModel" required>
    <div class="danger" [hidden]="username.valid || username.pristine">
      required field*
    </div>
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
      #password="ngModel" required minlength="8">
    <div class="danger" *ngIf="password.errors && password.dirty">
      <div *ngIf="password.errors.required">
        required field*
      </div>
      <div *ngIf="password.errors.minlength">
        weak password
      </div>

    </div>
    <div *ngIf="password.valid">
      show tick mark
    </div>
    <label for="phoneNumber">Phone Number</label>
    <input class="form-control" type="text" placeholder="Phone Number" name="phoneNumber"
      [(ngModel)]="user.phoneNumber">
    <label for="gender">Gender</label>
    <input class="form-control" type="text" placeholder="Gender" name="gender" [(ngModel)]="user.gender">
    <label for="dob">Date of Birth</label>
    <input class="form-control" type="date" name="dob" [(ngModel)]="user.dob">
    <br>
    <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="submit()" *ngIf="!submitting">
      submit</button>
    <button class="btn btn-info" disabled *ngIf="submitting">
      submitting...</button>

  </form>

  <p>Already Registered? <span>login <a [routerLink]="['/auth/login']">here</a></span></p>




</div>