<h2>View Products</h2>
<button *ngIf="results" (click)="showSearchMenu()" class="btn btn-success">search again</button>
<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<table *ngIf="!loading" class="table table-bordered">
  <thead>
    <th>S.N</th>
    <th>Name</th>
    <th>Category</th>
    <!-- <th>Brand</th> -->
    <th>Price</th>
    <!-- <th>Color</th> -->
    <!-- <th>Created At</th> -->
    <!-- <th>Created Time</th> -->
    <th>Image</th>
    <th *ngIf="!results">Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let prod of products;let i = index">
      <td>{{i +1}}</td>
      <td>{{prod.name | uppercase}}</td>
      <td>{{prod.category}}</td>
      <!-- <td>{{prod.brand}}</td> -->
      <td>{{prod.price}}</td>
      <!-- <td>{{prod.colors}}</td> -->
      <!-- <td>{{prod.createdAt| date:'fullDate'}}</td> -->
      <!-- <td>{{prod.createdAt| date:'hh:mm a'}}</td> -->
      <td *ngIf="prod.image"> <img src="{{imgUrl}}{{prod.image}}" alt="" width="200px"></td>
      <td *ngIf="!prod.image"> N/A</td>

      <td *ngIf="!results">
        <button routerLink="/product/edit/{{prod._id}}" class="btn btn-info">edit</button>
        <button (click)="remove(prod._id,i)" class="btn btn-danger">delete</button>
      </td>

    </tr>
  </tbody>
</table>