<h2>Reset Password</h2>
<p>Reset your new password</p>
<form class="form-group" #form="ngForm">
  <label for="password">Password</label>
  <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
    required>
  <label for="cPassword"> Confirm Password</label>
  <input class="form-control" type="password" placeholder="Confirm Password" name="cPassword"
    [(ngModel)]="user.confirmPassword" required>
  <br>
  <button [disabled]="form.invalid" class="btn btn-primary" (click)="submit()" *ngIf="!submitting">submit</button>
  <button disabled class="btn btn-info"  *ngIf="submitting">submitting...</button>
</form>