<div class="container">
  <h2>Forgot Password</h2>
  <p>Please provide your email to reset your password</p>
  <form class="form-group" #form="ngForm">
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required>
    <br>
    <button class="btn btn-primary" [disabled]="!form.valid" (click)="submit()" *ngIf="!submitting">
      submit</button>
    <button class="btn btn-info" disabled *ngIf="submitting">
      submitting...</button> </form>

  <span>back to <a [routerLink]="['/auth/login']">login</a></span>
</div>