<h2>Update Product</h2>
<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!loading">
  <form class="form-group" #productForm="ngForm">
    <label for="name">name</label>
    <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name" required>

    <label for="description">description</label>
    <input class="form-control" type="text" name="description" placeholder="description"
      [(ngModel)]="product.description">
    <label for="category">category</label>
    <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category"
      required>
    <label for="brand">brand</label>
    <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
    <label for="color">color</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.colors">
    <label for="price">price</label>
    <input class="form-control" type="text" name="price" placeholder="price" [(ngModel)]="product.price">
    <label for="modelNo">modelNo</label>
    <input class="form-control" type="text" name="modelNo" placeholder="modelNo" [(ngModel)]="product.modelNo">
    <label for="quantity">quantity</label>
    <input class="form-control" type="text" name="quantity" placeholder="quantity" [(ngModel)]="product.quantity">
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <label for="image">Image</label>
    <br>
    <img src="{{imgUrl}}{{product.image}}" width="400px" alt="">
    <br>
    <label for="choose image">Choose Image</label>
    <input type="file" class="form-control" (change)="fileChange($event)" [(ngModel)]="product.image">
    <br>
    <button class="btn btn-primary" [disabled]="productForm.invalid" *ngIf="!submitting"
      (click)="submit()">submit</button>
    <button class="btn btn-info
  " disabled *ngIf="submitting">submitting...</button>
  </form>
</div>