<div *ngIf="!searchResult">
  <h2>Search Product</h2>
  <form class="form-group" #productForm="ngForm">
    <!-- <label for="name">name</label>
    <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name"> -->
    <label for="category">category</label>
    <select class="form-control" name="category" (change)="catChange(product.category)" [(ngModel)]="product.category">
      <option value="">(Select Category)</option>
      <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
    </select>
    <div *ngIf="showName">
      <label for="name">Name</label>
      <select name="name" class="form-control" [(ngModel)]="product.name">
        <option disabled value="">(Select Name)</option>
        <option [value]="name.name" *ngFor="let name of groupByName">{{name.name}}</option>
      </select>
    </div>
    <label for="minPrice">Min Price</label>
    <input class="form-control" type="number" name="minPrice" placeholder="Min Price" [(ngModel)]="product.minPrice">
    <label for="maxPrice">Max Price</label>
    <input class="form-control" type="number" name="maxPrice" placeholder="Max Price" [(ngModel)]="product.maxPrice">
    <label for="fromDate">Select Date</label>
    <input class="form-control" type="date" name="fromDate" [(ngModel)]="product.fromDate">
    <input type="checkbox" [checked]="showMultipleDate" (change)="changeMultipleDate()"> multiple date range
    <br>
    <div *ngIf="showMultipleDate">
      <label for="toDate">To Date</label>
      <input class="form-control" type="date" name="toDate" [(ngModel)]="product.toDate">
    </div>
    <label for="color">colors</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.colors">
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <br>
    <button class="btn btn-primary" [disabled]="productForm.invalid" *ngIf="!submitting"
      (click)="search()">Search</button>
    <button class="btn btn-info
  " disabled *ngIf="submitting">searching...</button>
  </form>
</div>
<div *ngIf="searchResult">
  <app-list-product (showAgain)="showSearchForm($event)" [results]="results"></app-list-product>
</div>